@use './base';

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, base.$card-width);

  place-content: center;
  gap: 1rem;

  > * {
    margin: 1rem;
  }
}

.card {
  padding: 1rem;

  text-align: center;

  border: solid 2px base.$border-color;
  border-radius: base.$border-radius;

  transition: ease-out 100ms;

  &:hover,
  &:focus-within {
    box-shadow: 0 0.5rem 1rem 0 base.$border-color;
    transform: scale3d(1.006, 1.006, 1);
  }

  > p {
    margin-top: 0;
  }

  > code {
    width: fit-content;
    margin: 1rem auto;
    padding: 0.25rem;

    line-height: 0.6rem;

    border: solid 2px base.$text-color;
    display: block;
  }

  > a + a {
    margin-left: 1rem;
  }
}

.toast-list {
  position: fixed;
  top: 2rem;
  right: 2rem;

  width: 15rem;

  > * {
    margin: 0;
    padding: 0.5rem 1rem;

    text-align: center;

    border-radius: base.$border-radius;

    transition: opacity ease-out 100ms;
    opacity: 0;
  }

  > * + * {
    margin-top: 1rem;
  }

  > *.success {
    background-color: base.$background-color-success;
    border: solid 2px base.$border-color-success;
  }
  > *.error {
    background-color: base.$background-color-error;
    border: solid 2px base.$border-color-error;
  }

  > *.fade-in {
    opacity: 1;
  }
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 2rem;
  height: 2rem;

  background-color: base.$background-color-primary;
  border-radius: base.$border-radius;

  line-height: 2rem;
  text-align: center;

  display: block;
}

.load-more {
  width: fit-content;
  margin-inline: auto;

  text-align: center;
  display: block;
}

.switch {
  position: relative;

  display: inline-flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  > input {
    width: 2rem;
    height: 0;
    margin: 0;

    opacity: 0;
  }

  > .slider {
    position: absolute;

    width: 2rem;
    height: 1rem;

    background-color: base.$background-color-error;

    border: solid 2px base.$border-color-error;
    border-radius: 1rem;

    transition: ease-out 150ms;
  }

  > input:checked + .slider {
    background-color: base.$background-color-success;
    border: solid 2px base.$border-color-success;
  }

  > .slider::before {
    position: absolute;
    top: 12.5%;
    bottom: 12.5%;
    left: 6.25%;
    right: 56.25%;

    // width: 2rem;
    // height: 1rem;

    background-color: base.$color-error;
    border-radius: 50%;

    transition: ease-out 150ms;

    content: "";
  }

  > input:checked + .slider::before {
    left: 56.26%;
    right: 6.25%;

    background-color: base.$color-success;
  }

  > input:hover + .slider, > input:focus + .slider {
    background-color: base.$border-color-error;
    border-color: base.$color-error;
  }

  > input:hover:checked + .slider, > input:focus:checked + .slider {
    background-color: base.$border-color-success;
    border-color: base.$color-success;
  }
}
